{% extends 'backend/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<div>
    <div class="card">
        <div class="card-body">
            <div >
                <div class="card-title"><h3> {{ account.name }}</h3></div>
            </div>
            <hr/>
            <div class="text-muted">
                <span>Name: {{ account.name }}</span><br/>
                <span>Transactions: {{ account.transactions.count }}</span><br/>
            </div>
            <br/>
            <a href="{% url 'backend:account-update' pk=account.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'backend:account-delete' pk=account.pk %}" class="btn btn-danger ">Delete</a>
        </div>        
    </div>
</div>
{% endblock %}
