{% extends 'backend/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<div>
    <div class="card">
        <div class="card-body">
            <div >
                <div class="card-title"><h3> {{ transaction.name }}</h3></div>
            </div>
            <hr/>
            <div class="em-text">
                <span><strong>Amount: {{ transaction.amount }}</strong></span><br/>
            </div>
            <div class="text-muted">
                <span>Account: {{ transaction.account }}</span><br/>
                <span>Category: {{ transaction.category }}</span><br/>
                <span>Date: {{ transaction.date }}</span><br/>
                <span>Type: {{ transaction.tran_type }}</span><br/>
            </div>
            <br/>
            <a href="{% url 'backend:transaction-update' pk=transaction.pk %}" class="btn btn-primary btn-sm ml-1">Edit</a>
            <a href="{% url 'backend:transaction-delete' pk=transaction.pk %}" class="btn btn-danger btn-sm">Delete</a>
        </div>        
    </div>
</div>
{% endblock %}
