{% extends 'backend/base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card mt-2">
        <div class="card-body">
            <div class="card-title"><h3>Transactions</h3></div>
            {% for transaction in transactions %}
            <div class="card mt-1">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-5 col-md-6">
                        #{{ transaction.pk }} - <strong>{{ transaction.amount }}</strong> -
                        <a href="{% url 'backend:transaction-details' pk=transaction.pk %}" class="em-text">
                            {{ transaction.name }}
                        </a>
                        <div class="text-muted">
                            <span>Account: {{ transaction.account }}</span><br/>
                            <span>Category: {{ transaction.category }}</span><br/>
                            <span>Date: {{ transaction.date }}</span><br/>
                            <span>Type: {{ transaction.tran_type }}</span><br/>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}             
        </div>        
    </div>
<br/>
{% include "backend/pagination.html" %}
{% endblock %}